<br>
<div class="welcom">
        <div *ngIf = "(auth.user | async)?.uid, else other">
            <h1 > welcome {{email}} </h1>
            <p >You Logged In Successfully</p>
        </div>
        <ng-template #other>
            <h1>Welcome</h1>
            <b>To connect Please Press  login or create an account.</b>
        </ng-template>
</div>