<mat-accordion>
    
    <mat-expansion-panel *ngFor = "let post of Posts$ | async">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{post.title}}
            </mat-panel-title>
          
        </mat-expansion-panel-header> 
        <b>body:</b>{{post.body}} 
<br><br>
        <button mat-raised-button color="primary" 
            (click)="addLike (post.id,post.Like)">
            Like
        </button>    
&nbsp;
        <button mat-raised-button 
                color="primary"
                (click) = deletePost(post.id)>
                Delete
        </button> 
                <!-- Space maker -->
                &nbsp;
<br><br>
        <b>Likes :</b> {{post.Like}}
    </mat-expansion-panel>
</mat-accordion>