<!-- <p *ngIf = "!(Posts$ | async)">Loading posts...</p> -->
<p *ngIf = "!(Posts$ )">Loading posts...</p>
    <mat-accordion>
        <!-- <mat-expansion-panel *ngFor = "let post of Posts$ | async"> -->
        <mat-expansion-panel *ngFor = "let post of Posts$ ">
                <mat-expansion-panel-header>
                        {{post.id}}) &nbsp;&nbsp; {{post.title}}
                </mat-expansion-panel-header>
                <h5>body:</h5>{{post.body}} 
                <br>
                
                <h5>comments:</h5>
                <!-- <div *ngFor="let comment of Comments$ | async"> -->
                <div *ngFor="let comment of Comments$ ">
                   <div *ngIf = "comment.postId == post.id;other"> <b>{{comment.id}})</b> {{comment.body}}</div>
               </div>  
                <!-- Button who save the post on the firbase store -->

                <div ng-controller="myCtrl">
                    <button mat-raised-button color="primary" (click)="savePost(post.title,post.body,post.id)">Save post</button>
                    <p *ngIf = "post.id == postId"><b>{{message}}</b> </p>
                </div> 
                <button mat-button (click)="onClick()">Like {{Like !=0 ? Like: ''}}</button>
              
        </mat-expansion-panel>
    </mat-accordion>


  

   